<!DOCTYPE html>
<html>
  <head>
  

    <title> TaskYak </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
     <link rel="stylesheet" href="http://bsdp-assets.blackcherry.us/1.3.0/datepicker.min.css"/>
      <link rel="stylesheet" href="/css/bootstrapValidator.min.css"/>
      <link rel="stylesheet" href="/css/style.css"/>
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css"> 
    <link href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700" rel="stylesheet" type="text/css">
	<style type="text/css">

	ul#stickytask,li#stickytask{
	  list-style:none;
	}
	ul#stickytask{
	  overflow:hidden;
	  padding:1em;
	}
	ul#stickytask li#stickytask a{
	  text-decoration:none;
	  color:#000;
	  background:#ffc;
	  display:block;
	  height:20em;
	  width:11em;
	  padding:1em;
	  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	  -moz-transition:-moz-transform .15s linear;
	  -o-transition:-o-transform .15s linear;
	  -webkit-transition:-webkit-transform .15s linear;
	}
	ul#stickytask li#stickytask{
	  margin:1em;
	  float:left;
	}
	ul#stickytask li#stickytask h2{
	  font-size:100%;
	  font-weight:bold;
	  padding-bottom:1px;
	}
	ul#stickytask li#stickytask p{
	  font-family:"PT Sans",arial,sans-serif;
	  font-size:110%;
	}
	ul#stickytask li#stickytask a{
	  -webkit-transform: rotate(-6deg);
	  -o-transform: rotate(-6deg);
	  -moz-transform:rotate(-6deg);
	}
	ul#stickytask li#stickytask:nth-child(even) a{
	  -o-transform:rotate(4deg);
	  -webkit-transform:rotate(4deg);
	  -moz-transform:rotate(4deg);
	  position:relative;
	  top:5px;
	  background:#cfc;
	}
	ul#stickytask li#stickytask:nth-child(3n) a{
	  -o-transform:rotate(-3deg);
	  -webkit-transform:rotate(-3deg);
	  -moz-transform:rotate(-3deg);
	  position:relative;
	  top:-5px;
	  background:#ccf;
	}
	ul#stickytask li#stickytask:nth-child(5n) a{
	  -o-transform:rotate(5deg);
	  -webkit-transform:rotate(5deg);
	  -moz-transform:rotate(5deg);
	  position:relative;
	  top:-10px;
	}
	ul#stickytask li#stickytask a:hover,ul li a:focus{
	  box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	  -webkit-transform: scale(1.25);
	  -moz-transform: scale(1.25);
	  -o-transform: scale(1.25);
	  position:relative;
	  z-index:5;
	}
	ol{text-align:center;}
	ol li{display:inline;padding-right:1em;}
	ol li a{color:#fff;}
	</style>
	
 </head>
  <body>
    <div class="container">
      <header>
        <div class="jumbotron text-center">
          <h1><span class="fa fa-lock"></span>TaskYak</h1>
        </div>
      </header>
      

      <nav class="navbar col-md-3" role="navigation" style="border-right:1px solid #ddd;padding: 0; background:#FFFFFF; ">
              <div class="container-fluid">
                <div class="collapse navbar-collapse">
                <ul class="nav nav-pills nav-stacked">
                  <li class="home"> <a href="/profile">Home</a> </li>
                  <li class="newTask"> <a href="/addtask">Add Task</a> </li>
                  <li class="taskList active"> <a href="#">View Tasks</a> </li> 
                  <li class="chooseTask"><a href="/choosetask">Choose Task</a></li>    
                  <li class="listRoommates"> <a href="/listroommates">Add Group</a> </li>
                  <li class="groupDetails"><a href="/groupdetails">My Groups</a></li>
				  <li class="testDate"><a href="/testDate">Test Date</a></li>
                  <li> <a href='/logout'>Logout</a> </li>
               </ul>
             </div>
           </div>
     </nav>
 	<div class="col-sm-8 content">
 		<ul class="nav nav-pills">
        		<li><a href="/tasklist" data-toggle="tab">All Tasks</a></li> 
        		<li><a href="/incomplete" data-toggle="tab">Incomplete Tasks</a></li> 
        		<li class="active"><a href="#" data-toggle="tab">Overdue Tasks</a></li> 
        	</ul>
        <div class="col-sm-8 col-sm-offset-1 content">	


        	<form id="tasklist" name="tasklist" action="/tasklist" method="post">
        		<%   	var l = 0; %>
        <ul id="stickytask">
        <% if (tasks.length == 0) { %>
        	<li id = "stickytask">
			      <a href="/addtask">
			        <h4>No Tasks Found</h4>
			        <p> Add some tasks</p>
			      </a>
			   </li>
		   <% } else { %>
		      <% for(var i=0; i<tasks.length; i++) { 
		      	if (tasks[i].taskName.length != 0 && tasks[i].taskDoer!= null) { %>
		      		 <% l = l+1 %>
			   		 <li id = "stickytask">
			     	 <a href="#">
				         <h4><%= tasks[i].taskName %></h4>
				         <p>Points: <%=tasks[i].taskPriority.toFixed(2) %></p>
				         <p> <%= tasks[i].taskDoer %></p>
				         <p> <% var date =  new Date(tasks[i].dueDate) %>
				        	<%= date.toDateString() %></p>
				        	<div class="form-group onoffswitch">
				        	<input type="checkbox" name="isComplete_<%=l%>" id="isComplete_<%=l%>" <% if (tasks[i].isComplete == true) { %> checked <% } %> class="onoffswitch-checkbox">
				        		<label class="onoffswitch-label" for="isComplete_<%=l%>">
	       						  <span class="onoffswitch-inner"></span>
	      						  <span class="onoffswitch-switch"></span>
	   						 </label>
				        	</div>
						
			        </a>
			      </li>
		    <% } } } %>
		    </ul>
		   
		</form>
        	
		</div> 
	</div>
		<!--script type="text/javascript">
		$(document).ready(function(){
			if ($('#stickytask li').length == 0)
			{
				$('#stickytask').append("<li id = 'stickytask'><a href='/addtask'><h4>No Tasks Found</h4><p> Add some tasks</p></a></li>");
			}
		})

		</script-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    	<script src="http://bsdp-assets.blackcherry.us/1.3.0/bootstrap-datepicker.min.js"></script>

  </body>
</html>      