<!DOCTYPE html>
<form name="classic">
<select name="countries" size="4" onClick="updatecities(this.selectedIndex, groups)" style="width: 150px">
<%for (var i = 0;i<groups.length;i++) {%>
                    <option value='<%= groups[i].groupName %>'><%= groups[i].groupName%></option>
                  <%}%>
</select>

<select name="cities" size="4" style="width: 150px" onClick="alert(this.options[this.options.selectedIndex].value)">
</select>
</form>

<script type="text/javascript">

var countrieslist=document.classic.countries;
var taskDoerList=document.classic.cities;

var cities=new Array();
cities[0]="";
cities[1]=["New York|newyorkvalue", "Los Angeles|loangelesvalue", "Chicago|chicagovalue", "Houston|houstonvalue", "Austin|austinvalue"];
cities[2]=["Vancouver|vancouvervalue", "Tonronto|torontovalue", "Montreal|montrealvalue", "Calgary|calgaryvalue"];
cities[3]=["London|londonvalue", "Glasgow|glasgowsvalue", "Manchester|manchestervalue", "Edinburgh|edinburghvalue", "Birmingham|birminghamvalue"];

var groupList=new Array();

function updatecities(selectedGroup){
var index=selectedGroup;
	alert(index);
	alert("<%=groups[1].groupMembers.length%>");
	alert("<%=groups[1].groupMembers[0]%>");
	alert("<%=groups[index].groupMemebers.length%>");
	taskDoerList.options.length=0
	if (selectedGroup>=0){
		alert("in if block");
		for (var i=0; i< 1; i++){
			alert("in for start block");
			taskDoerList.options[taskDoerList.options.length]=new Option("<%= groups[1].groupMembers[i]%>", "<%= groups[1].groupMembers[i]%>");
			alert("in for End block");
			}
	}%>
}

</script>